%h1 Spock's Brain
%form#testRunControls
  .testNameControls
    %label{ :for => 'testName' } Test name
    %input#testName.testName
  .startTest
    %button Start
%iframe#runnerFrame{ :src => '/test/controllers/torrent_list_manager' }
