%html{html_attrs}
  %head
    %title Spock's Brain
    %link{ "rel "=> "stylesheet", "href" => "/stylesheets/style.css", "type" => "text/css" }
    %script{ :src => "/prototype.js", :type => "text/javascript" }
    %script{ :src => "/brain_runner.js", :type => "text/javascript" }
  %body
    = yield
